<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Reservation System</title>
    <link rel="stylesheet" href="Main_Page_style.css">
    <script src="https://kit.fontawesome.com/b84af60ce2.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="header">
        <div class="container">
            <nav>
                <img src="" class="logo" alt="logo image">

                <ul id="sidemenu">
                    <li><a href="#header"><b>Home</b></a></li>
                    <li><a href="#about"><b>About Us</b></a></li>
                    <li><a href="#services"><b>Services</b></a></li>
                    <li><a href="#contact"><b>Contact</b></a></li>
                    <i class="fa-regular fa-circle-xmark" id="fas" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" id="fas" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Sample Text</p>
                <h1>Airline<br><span>Reservation</span> System</h1>
            </div>
        </div>
    </div>
    <!-- --------------about------------ -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="Images/aboutmetrial.jpg" alt="about us">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorem, repudiandae similique harum magnam nisi deleniti libero veritatis, vitae illum quisquam quis ipsa perferendis consectetur sequi voluptatum dolorum error laboriosam?</p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Text</p>
                        <p class="tab-links" onclick="opentab('projects')">Text</p>
                        <p class="tab-links" onclick="opentab('education')">Text</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>sample</li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="projects">
                        <ul>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>
                            <li style="margin-bottom: 20px;"><span>Sample text</span><br>Sample</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- --------------services----------------- -->

<div id="services">
    <div class="container">
        <h1 class="sub-title">Our Services</h1>
        <div class="services-list">
            <div>
                <a href="booking_page.html"><i class="fa-solid fa-ticket"></i>
                    <h2>Book Tickets</h2>
                    <p></p>
                    </a>
            </div>
            <div>
                <i class="fa-solid fa-plane-slash"></i>
                <h2>Cancel a Reservation</h2>
                <p>Change of plans? No worries! We got your back.</p>
                <a href="cancellation.html" class="cancel-btn">Cancel a Reservation</a>
            </div>
            <div>
                <i class="fa-solid fa-clock-rotate-left"></i>
                <h2>Flight Status</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic optio non sed, ut nemo voluptatibus doloribus atque natus magnam officia nobis blanditiis quibusdam! Veniam, est dolorum quae necessitatibus perferendis assumenda!</p>
                <a href="flighttracking.html">Learn more</a>
            </div>
        </div>
    </div>
</div>

<!-- -----------------contact------------------>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Us</h1>
                <p><i class="fa-solid fa-envelope"></i>airlinereservationsys@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>9876543210</p>
                <div class="social-icons">
                    <a href="https://www.instgram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-solid fa-plane-departure"></i></a>
                </div>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Enter your Name" required>
                    <input type="email" name="Email" placeholder="Enter you E-mail id" required>
                    <textarea name="Message" rows="6" placeholder="What's your query..."></textarea>
                    <button type="submit" class="bttn bttn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © Airline Reservation System.</p>
    </div>
</div> 

<script>

    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }

        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link"); 
        document.getElementById(tabname).classList.add("active-tab");
    }

</script>

<script>

    var sidemenu = document.getElementById("sidemenu");

    function openmenu(){
        
        sidemenu.style.right = "0";

    }

    function closemenu(){

        sidemenu.style.right = "-200px";
    }

</script>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwWy1d1bPCWxEqEQXtxn3CWZymWSev3blrEekQLnKfGqlXrAhzNrvDP9VhX2CBz_YYZXw/exec'
    const form = document.forms['submit-to-google-sheet']
    const message = document.getElementById('msg')
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            
            message.innerHTML = "Message sent successfully!"

            setTimeout(function(){

                message.innerHTML = ""
            }, 3000)
            form.reset()

        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>

</body>

</html>